* {
    /* box-sizing: border-box; */
    /* font-family: 'Fjalla One', Impact, Arial, sans-serif; */
 }
 
 body {
    /* background-color: #ffeaa7; */
 }
 
 form {
    
    background-color: grey;
    padding: 80px;
    width: 50%;
    margin: 100px auto;
    text-align: center;
 }
 
 #tempCalc label {
    font-size: 30px;
 }
 
 #temp {
    border: none;
    padding: 10px;
    height: 30px;
    width: 200px;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 30px;
    border-bottom: 2px solid rgb(150, 145, 145);
    border-radius: 5px;
 }
 
 #temp-diff {
    height: 50px;
    width: 200px;
    border: none;
    margin-top: 20px;
    border-bottom: 2px solid rgb(164, 160, 160);
    /* margin-left: 30px; */
    /* font-size: 15px; */
    vertical-align: top;
    border-radius: 5px;
 }
 
 
 [type="submit"] {
    /* [type=".btn"]{   */
    height: 35px;
    margin: 20px;
    width: 300px;
    font-size: 25px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 10px;
 }
 
 #resultContainer {
    
    font-size: large;
    font-weight: bolder;
    /* font-size: 35px;
    border-bottom: 2px solid black;
    font-family: 'Fjalla One', Impact, Arial, sans-serif;
    border-color: black; */
 }

 .bold{
    font-size: large;
    font-weight: bolder;
 }